* {
  box-sizing: border-box;
  margin: 5px;
  background-color: #c8e4fd;
}

h1 {
  padding: 1%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: #eb8713;
}

a:hover {
  color: rgb(238, 100, 50);
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  align-items: center;
}

#footer{
  justify-content:space-between;
  padding: 20px;
  background:   rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

#header {
  display:flex;
  justify-content:space-between;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 90%;
  margin-left: 4%;
}
.headerLinks {
  align-self:flex-end;
  display:flex;
}
.linkItem{
  justify-content: space-between;
  padding: 10px;
}