
h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color:rgb(119, 93, 119);
}

button {
  border: none;
}

body {
  /* background:url('https://previews.123rf.com/images/tovovan/tovovan1111/tovovan111101944/11333263-seamless-background-of-white-plates-with-colorful-elements-.jpg'); */
  background-color: whitesmoke2;
  background-size: auto;
  font-family: 'Open Sans', arial, sans-serif;
  align-items: center;

}

#header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(255, 253, 232);
  color:rgb(119, 93, 119);
  font-size: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 6px;
}
.headerLinks {
  align-self: flex-end;
  display: flex;
}
.linkItem {
  justify-content: space-between;
  padding: 10px;
}

#footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: rgb(255, 253, 232);
  color:rgb(119, 93, 119);
}
.plateContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;

  margin-left: 50px;
  margin-right: 50px;
}
.singlePlate {

  font-family: 'Gill Sans';
  padding: 5px;
  margin: 10px;
  color: black;
  background-color: rgb(255, 253, 232);
}
button{
  text-align: center;
  background-color: white;
  float: right;
}
#cart{
  position: fixed;
  background-color: white;
  width: 80%;
  left: 10%;
  top: 20%;
  padding: 10px;
  border: 1px solid #77aaff;
  box-shadow:  -1px 1px #77aaff;
  border-radius: 10px;
  transition-timing-function: ease-in;
}
.cartItems{
  text-align: center;
  width: 100%;
  background-color: white;
}
table{
  right: 20%;
  width: 100%;
  text-align: left;
}
#emptyCart{
  position: fixed;
  background-color: white;
  width: 80%;
  top: 20%;
  left: 10%;
  padding: 10px;
  border: 1px solid #77aaff;
  box-shadow:  -1px 1px #77aaff;
  border-radius: 10px;
  transition-timing-function: ease-in;
  text-align: center;
  font-family: 'Gill Sans';
  font-size: 2em;
}
#itemDescriptionContainer{
  position: fixed;
  background-color: white;
  width: 80%;
  top: 20%;
  left: 10%;
  padding: 10px;
  border: 1px solid #77aaff;
  font-family: 'Gill Sans';
  font-size: 1em;
}
#itemDescriptionHeader{
  display: flex;
  justify-content: space-between;
}
#itemDescriptionBody{
  display: flex;
  justify-content: space-between;
}
#itemDescriptionCenter{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
